<div class="account-popup__overlay" id="account_popup_overlay">
  <div class="account-popup__container" id="account_popup_container">
    <div class="account-popup__loader" id="account_popup_loader"></div>
    <div class="account-popup__header">
      <p class="account-popup__heading" id="account_popup_heading">login</p>
      <button type="button" class="account-popup__close" id="account_popup_close">
        {% render 'icon-close' %}
      </button>
    </div>
    <div class="account-popup__content" id="account_popup_content">
      {% include 'account_recover-password' %}
      {% include 'account_customer-login' %}
      {% include 'account_create-customer' %}
    </div>
  </div>
</div>

