{% assign number_of_images = 0 %}
{%- for block in section.blocks -%}
  {% if block.settings.image != blank %}
    {% capture number_of_images %}{{ number_of_images | plus:1 }}{% endcapture %}
  {% endif %}
{% endfor %}
<div class="banners-grid__container items-number-{{ number_of_images }}">
  {%- for block in section.blocks -%}
    <div class="banners-grid__item">
      {% if block.settings.image != blank %}
        <img class="banners-grid__item-background-image" src="{{ block.settings.image | img_url: '700x' }}"
             alt="{{ block.settings.image.alt }}">
      {% endif %}
      {% if block.settings.subtitle != blank or block.settings.title != blank or block.settings.colored-title != blank %}
      <div class="banners-grid__item-content">
        <a class="banners-grid__item-link" href="{{ block.settings.url_link }}">
          {% if block.settings.subtitle != blank %}
            <p class="banners-grid__item-subtitle">
              {{ block.settings.subtitle }}</p>
          {% endif %}
          <div class="banners-grid__item-title">
            <p>{{ block.settings.title }}</p>
            {% if block.settings.colored-title != blank %}
              <p class="colored">{{ block.settings.colored-title }}</p>
            {% endif %}
          </div>
        </a>
      </div>
      {% endif %}
    </div>
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Banners grid",
  "max_blocks": 4,

  "blocks": [
    {
      "type": "banner",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Background image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "colored-title",
          "label": "Colored title",
          "info": "Part of title colored with accent primary color"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "url",
          "id": "url_link",
          "label": "URL link"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Banners grid",
      "blocks": [
        {
          "type": "banner"
        }
      ]
    }
  ]
}
{% endschema %}
