<div class="cart-notification__subtotal small">
  <p>Subtotal</p>
  <p>{{ cart.original_total_price | money_with_currency }}</p>
</div>
<div class="cart-notification__discount small">
  <p>Discounts</p>
  <p>{{ cart.total_discount | money_with_currency }}</p>
</div>
<div class="cart-notification__final-price">
  <p>total</p>
  <p>{{ cart.total_price | money_with_currency }}</p>
</div>