{%- if cart != empty -%}
  {%- for item in cart.items -%}
    <div class="cart-notification-product__container" id="cart-notification-product-{{ item.id }}">
      {% if item.image %}
        <img class="cart-notification-product__image"
             src="{{ item.image | img_url: '140x' }}"
             alt="{{ item.image.alt }}"
             width="80"
             height="{{ 80 | divided_by: item.image.aspect_ratio | ceil }}"
        >
      {% endif %}
      <div class="cart-notification-product__info">
        <p class="cart-notification-product__name">{{ item.product.title }}
          {% if item.quantity > 1 %}
            x{{ item.quantity }}
          {% endif %}
        </p>
        {%- unless item.product.has_only_default_variant -%}
          <div class="cart-notification-product__options">
            {%- for option in item.options_with_values -%}
              <p>{{ option.value }}</p>
            {%- endfor -%}
          </div>
        {%- endunless -%}
        <div class="cart-notification-product__price">
          <p class="cart-notification-product__price--final">
            {{ item.final_price | money_with_currency }}
          </p>
          {% if item.product.compare_at_price %}
            <p class="cart-notification-product__price--compare">
              {{ item.product.compare_at_price | money_with_currency }}
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  {%- endfor -%}
{%- endif -%}
