<div class="collection-products__container">
  <div class="collection-products__heading">
    {{ section.settings.title }}
  </div>
  {% if section.settings.collection != blank %}
    <div class="collection-products__content">
      {% for product in section.settings.collection.products limit: section.settings.number_of_products %}
        {% render 'product-card',
                product: product
        %}
      {% endfor %}
    </div>
  {% else %}
    <p>You have to choose collection in settings panel</p>
  {% endif %}
  <a class="collection-products__redirect-to-collection-link" href="{{ section.settings.collection.url }}">
    <button class="button full-width
      {% if section.settings.button_style == 'primary_dark' %}button--primary_dark{% endif %}
      {% if section.settings.button_style == 'primary_light' %}button--primary_light{% endif %}"
    >
      {{ section.settings.button_label }}
    </button>
  </a>
</div>

{% schema %}
{
  "name": "Collection products",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "Title"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "select",
      "id": "number_of_products",
      "options": [
        {
          "value": "4",
          "label": "4"
        },
        {
          "value": "8",
          "label": "8"
        }
      ],
      "default": "4",
      "label": "Number of products to show"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "button_label",
      "default": "See all",
      "label": "Label"
    },
    {
      "type": "select",
      "id": "button_style",
      "options": [
        {
          "value": "primary_light",
          "label": "Light"
        },
        {
          "value": "primary_dark",
          "label": "Dark"
        }
      ],
      "default": "primary_light",
      "label": "Style"
    }
  ],
  "presets": [
    {
      "name": "Collection products"
    }
  ]
}
{% endschema %}
