<footer class="footer">
  <div class="footer__columns">
    {% for block in section.blocks %}
      {% if block.type == 'link_list' %}
        <div class="footer__column-container">
          <p class="footer__link-list-heading">{{ block.settings.link_list.title }}</p>
          {% for link in block.settings.link_list.links %}
            <div class="footer__link-list-item">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% if block.type == 'contact_us' %}
        <div class="footer__column-container">
          <p class="footer__contact-heading">Contact Us</p>
          {% if block.settings.address != empty %}
            <div class="footer__contact-item">
              <div class="footer__contact-item-icon">{% render 'icon-address' %}</div>
              <p>{{ block.settings.address }}</p>
            </div>
          {% endif %}
          {% if block.settings.contact_number != empty %}
            <div class="footer__contact-item">
              <div class="footer__contact-item-icon">{% render 'icon-phone' %}</div>
              <p>{{ block.settings.contact_number }}</p>
            </div>
          {% endif %}
          {% if block.settings.work_time != empty %}
            <div class="footer__contact-item">
              <div class="footer__contact-item-icon">{% render 'icon-time' %}</div>
              <p>{{ block.settings.work_time }}</p>
            </div>
          {% endif %}
          {% if block.settings.email_address != empty %}
            <div class="footer__contact-item">
              <div class="footer__contact-item-icon">{% render 'icon-email' %}</div>
              <p>{{ block.settings.email_address }}</p>
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</footer>


{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "link_list",
      "limit": 3,
      "name": "Link list",
      "settings": [
        {
          "type": "link_list",
          "id": "link_list",
          "label": "Link list"
        }
      ]
    },
    {
      "type": "contact_us",
      "limit": 1,
      "name": "Contact us",
      "settings": [
        {
          "type": "text",
          "id": "address",
          "label": "Address",
          "default": "Poland, Wroclaw"
        },
        {
          "type": "text",
          "id": "contact_number",
          "label": "Contact number",
          "default": "+23(010) 12 43 458"
        },
        {
          "type": "text",
          "id": "work_time",
          "label": "Work time",
          "default": "All week 24/7"
        },
        {
          "type": "text",
          "id": "email_address",
          "label": "Email address",
          "default": "shaman.magic.music@gmail.com"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "contact_us"
      }
    ]
  }
}
{% endschema %}
