{% style %}
  .icon-bar__container {
    padding-top: {{ section.settings.vertical_padding }}px;
    padding-bottom: {{ section.settings.vertical_padding }}px;
  }

  @media screen and (max-width: 768px) {
    .icon-bar__container {
      padding-top: {{ section.settings.vertical_padding | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.vertical_padding | divided_by: 2 }}px;
    }
  }

  .icon-bar__wrapper {
    background-color: {{ section.settings.background_color }};
  }
{% endstyle %}

<div class="icon-bar__wrapper {% if section.settings.enable_shadow %} with-shadow {% endif %}">
  <div class="icon-bar__container">
    {%- for block in section.blocks -%}
      {% if block.settings.icon != blank or block.settings.title != blank or block.settings.subtitle != blank %}
        <div class="icon-bar__item">
          {% if block.settings.icon != blank %}
            <div class="icon-bar__item-icon-container">
              <img class="icon-bar__item-icon" src="{{ block.settings.icon | img_url: '70x' }}"
                   alt="{{ block.settings.icon.alt }}">
            </div>
          {% endif %}
          <div class="icon-bar__item-content">
            <p class="icon-bar__item-title">{{ block.settings.title }}</p>
            <p class="icon-bar__item-subtitle">{{ block.settings.subtitle }}</p>
          </div>
        </div>
      {% endif %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Icon bar",
  "max_blocks": 4,
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "vertical_padding",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Vertical padding",
      "info": "This value is divided by 2 on mobile screens",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "enable_shadow",
      "label": "Enable shadow",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "icon_bar_block",
      "name": "Icon bar block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon bar"
    }
  ]
}
{% endschema %}
