{% style %}
  .newsletter-promo__container {
    background: linear-gradient(180deg, #fff 0%, {{ section.settings.background_color }} 100%);
  }

  .newsletter-promo__background-image.left {
    left: {{ section.settings.background_image_left_position_left }}px;
    bottom: {{ section.settings.background_image_left_position_bottom }}px
  }

  .newsletter-promo__background-image.right {
    right: {{ section.settings.background_image_right_position_right }}px;
    bottom: {{ section.settings.background_image_right_position_bottom }}px
  }
{% endstyle %}

<div class="newsletter-promo__container">
  <div class="newsletter-promo__content">
    {% if section.settings.subheading != blank %}
      <p class="newsletter-promo__subheading">{{ section.settings.subheading }}</p>
    {% endif %}
    {% if section.settings.heading != blank %}
      <div class="newsletter-promo__heading">{{ section.settings.heading }}</div>
    {% endif %}
    {% form 'customer', class: 'newsletter-promo__form', novalidate: 'novalidate' %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      {%- if form.errors -%}
        <div class="newsletter-promo__form-error">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</div>
      {%- endif -%}
      {%- if form.posted_successfully? -%}
        <div class="newsletter-promo__form-success"><p>Subscribed successfully</p></div>
      {%- endif -%}
      <div class="field">
        <input
                id="newsletter_promo_form"
                type="email"
                name="contact[email]"
                value="{{ form.email }}"
                placeholder="{{ section.settings.input_placeholder }}"
        >
      </div>
      <button type="submit" class="button button--primary_dark full-width" name="commit">
        {{ section.settings.button_label }}
      </button>
    {% endform %}
    {% if section.settings.background_image_left != blank %}
      <div class="newsletter-promo__background-image left">
        <img src="{{ section.settings.background_image_left | img_url: '700x' }}"
             alt="{{ section.settings.background_image_left.alt }}">
      </div>
    {% endif %}
    {% if section.settings.background_image_right != blank %}
      <div class="newsletter-promo__background-image right">
        <img src="{{ section.settings.background_image_right | img_url: '700x' }}"
             alt="{{ section.settings.background_image_right.alt }}">
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Newsletter promo",
  "settings": [
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "info": "Bold text will be recolored to accent primary color"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "text",
      "id": "input_placeholder",
      "label": "Input placeholder",
      "default": "Subscribe"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "header",
      "content": "Background image left"
    },
    {
      "type": "image_picker",
      "id": "background_image_left",
      "label": "Image"
    },
    {
      "type": "number",
      "id": "background_image_left_position_left",
      "label": "Distance from left edge (px)",
      "default": -260
    },
    {
      "type": "number",
      "id": "background_image_left_position_bottom",
      "label": "Distance from bottom edge (px)",
      "default": -105
    },
    {
      "type": "header",
      "content": "Background image right"
    },
    {
      "type": "image_picker",
      "id": "background_image_right",
      "label": "Image"
    },
    {
      "type": "number",
      "id": "background_image_right_position_right",
      "label": "Distance from right edge (px)",
      "default": -200
    },
    {
      "type": "number",
      "id": "background_image_right_position_bottom",
      "label": "Distance from bottom edge (px)",
      "default": -60
    }
  ],
  "presets": [
    {
      "name": "Newsletter promo"
    }
  ]
}
{% endschema %}