{% style %}
  .top-bar--wrapper {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.text_color }};
  }
{% endstyle %}

{% if section.settings.enable_topbar %}
  <div class="top-bar--wrapper">
    <div class="top-bar--container horizontal-align-{{ section.settings.horizontal_alignment }} {{ section.settings.position }}">
      {%- for block in section.blocks -%}
        <div class="top-bar--item">
          <img src="{{ block.settings.icon | img_url }}" alt="{{ block.settings.icon.alt }}">
          <p>{{ block.settings.text }}</p>
        </div>
      {%- endfor -%}
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Top bar",
  "max_blocks": 3,
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_topbar",
      "label": "Enable topbar",
      "default": true
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "Horizontal alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    }
  ],
  "blocks": [
    {
      "type": "icon_with_text",
      "name": "Icon with text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "icon_with_text"
      }
    ]
  }
}
{% endschema %}
