<div class="recover-password__container">
  <div class="recover-password__header">
    <p>We will send you an email to reset your password</p>
  </div>
  <div class="account-popup__errors" id="recover_password_errors"></div>
  <form class="recover-password__form" id="recover_password_form">
    <div class="field">
      <label for="recover_password_email">Email</label>
      <input type="text" placeholder="Enter your email" name="email" id="recover_password_email">
    </div>
    <button type="submit" class="button button--primary_dark full-width">send</button>
  </form>
  <button type="button" class="button button--primary_light full-width" id="recover_password_back_to_login">cancel</button>
</div>