<div class="create-customer__container">
  <div class="create-customer__header">
    <p>If you don't have an account, please create one.</p>
  </div>
  <div class="account-popup__errors" id="create_customer_errors"></div>
  <form class="create-customer__form" id="create_customer_form">
    <div class="field">
      <label for="create_customer_first_name">First Name</label>
      <input type="text" placeholder="First Name" name="customer[first_name]" id="create_customer_first_name">
    </div>
    <div class="field">
      <label for="create_customer_last_name">Last Name</label>
      <input type="text" placeholder="Last Name" name="customer[last_name]" id="create_customer_last_name">
    </div>
    <div class="field">
      <label for="create_customer_email">Email</label>
      <input type="text" placeholder="Email" name="customer[email]" id="create_customer_email">
    </div>
    <div class="field">
      <label for="create_customer_password">Password</label>
      <input type="password" placeholder="Password" name="customer[password]" id="create_customer_password">
    </div>
    <button type="submit" class="button button--primary_dark full-width">create account</button>
  </form>
  <button type="button" class="button button--primary_light full-width" id="create_customer_back_to_login">cancel</button>
</div>