<div class="customer-login__container">
  <div class="customer-login__header">
    <p>If you have an account with us, please log in.</p>
  </div>
  <div class="account-popup__errors" id="customer_login_errors"></div>
  <form class="customer-login__form" id="customer_login_form" novalidate>
    <div class="field">
      <label for="customer_login_email">Email</label>
      <input type="email" placeholder="Enter your email" name="customer[email]" id="customer_login_email"
      >
    </div>
    <div class="field">
      <label for="customer_login_password">Password</label>
      <a class="customer-login__recover-password" id="customer_login_recover_password">Lost your password?</a>
      <input type="password" placeholder="Your password" name="customer[password]" id="customer_login_password"
      >
    </div>
    <button type="submit" class="button button--primary_dark full-width">login</button>
  </form>
  <div class="customer-login__separator">
    <p>or</p>
  </div>
  <div class="customer-login__create-account-header">
    <p>New Customer?</p>
  </div>
  <button type="button" class="button button--primary_light full-width" id="customer_login_create_account">create your account</button>
</div>