{%- assign t = template | split: '.' | first -%}

{% if t == 'page' or t == 'product' or t == 'collection' %}
  <div class="breadcrumbs--container">
    <ul class="breadcrumbs--list">
      <li class="breadcrumbs--list__item">
        <a class="link breadcrumbs--list__link" href="/">Home</a>
      </li>
      {% case t %}
        {% when 'page' %}
          <li class="breadcrumbs--list__item">
            <a class="link breadcrumbs--list__link" href="{{ page.url }}">{{ page.title }}</a>
          </li>
        {% when 'collection' %}
          <li class="breadcrumbs--list__item">
            <a class="link breadcrumbs--list__link" href="{{ collection.url }}">{{ collection.title }}</a>
          </li>
        {% when 'product' %}
          <li class="breadcrumbs--list__item">
            <a class="link breadcrumbs--list__link" href="{{ product.url }}">{{ product.title }}</a>
          </li>
      {% endcase %}
    </ul>
  </div>
{% endif %}