<cart-notification>
  <div class="cart-notification-wrapper">
    <div id="cart-notification" class="cart-notification">
      <div class="cart-notification__header">
        <p class="cart-notification__heading">shopping cart</p>
        <button type="button" class="cart-notification__close">
          <svg class="icon icon-close">
            <use href="#icon-close">
          </svg>
        </button>
      </div>
      <div id="cart-notification-product" class="cart-notification-product"></div>
      <div id="cart-notification-totals" class="cart-notification__totals"></div>
      <div class="cart-notification__links">
        <form action="{{ routes.cart_url }}" method="post" id="cart">
          <button class="button button--primary_dark full-width" name="checkout"
                  form="cart">{{ 'sections.cart.checkout' | t }}</button>
        </form>
        <a href="{{ routes.cart_url }}" id="cart-notification-button"
           class="button button--primary_light full-width">view cart</a>
      </div>
    </div>
  </div>
</cart-notification>

{% style %}
  .cart-notification {
  display: none;
  }
{% endstyle %}
