<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.25 3L7.1675 6.945C7.414 7.10946 7.70368 7.19722 8 7.19722C8.29632 7.19722 8.586 7.10946 8.8325 6.945L14.75 3M2.75 11.25H13.25C13.6478 11.25 14.0294 11.092 14.3107 10.8107C14.592 10.5294 14.75 10.1478 14.75 9.75V2.25C14.75 1.85218 14.592 1.47064 14.3107 1.18934C14.0294 0.908035 13.6478 0.75 13.25 0.75H2.75C2.35218 0.75 1.97064 0.908035 1.68934 1.18934C1.40804 1.47064 1.25 1.85218 1.25 2.25V9.75C1.25 10.1478 1.40804 10.5294 1.68934 10.8107C1.97064 11.092 2.35218 11.25 2.75 11.25Z" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
