<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M1.25 2.75C1.25 2.35218 1.40804 1.97064 1.68934 1.68934C1.97064 1.40804 2.35218 1.25 2.75 1.25H5.21C5.36735 1.25012 5.52067 1.29972 5.64827 1.39179C5.77587 1.48385 5.87128 1.61372 5.921 1.763L7.0445 5.13275C7.10143 5.304 7.09469 5.49004 7.02554 5.65673C6.95638 5.82342 6.82944 5.95959 6.668 6.04025L4.97525 6.88775C5.80499 8.72415 7.27585 10.195 9.11225 11.0248L9.95975 9.332C10.0404 9.17056 10.1766 9.04362 10.3433 8.97446C10.51 8.90531 10.696 8.89857 10.8672 8.9555L14.237 10.079C14.3864 10.1288 14.5164 10.2243 14.6084 10.352C14.7005 10.4798 14.75 10.6333 14.75 10.7907V13.25C14.75 13.6478 14.592 14.0294 14.3107 14.3107C14.0294 14.592 13.6478 14.75 13.25 14.75H12.5C6.287 14.75 1.25 9.713 1.25 3.5V2.75Z" stroke="#121212" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
