{% unless product.images.size < 2 %}
  <div class="product-card__small-images-container">
    {% for image in product.images limit: 5 %}
      <div class="product-card__small-image">
        <img src="{{ image | img_url: '70x' }}" alt="{{ image.alt }}">
      </div>
    {% endfor %}
  </div>
{% endunless %}

{% unless product.has_only_default_variant %}
  <div class="product-card__options-container">
    {% if product.options_with_values.size == 1 %}
      <div class="product-card__option">
        {% for value in product.options_with_values[0].values %}
          {% for variant in product.variants %}
            {% if variant.option1 == value and variant.option2 == null and variant.option3 == null %}
              <label class="product-card__option-label">
                <input type="radio" name="variant" value="{{ variant.id }}">
                <div class="product-card__option-value">{{ value }}</div>
              </label>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </div>
    {% else %}
      {% assign product-card_has_multiple_variants = true %}
    {% endif %}
  </div>
{% endunless %}

{% if product-card_has_multiple_variants %}
  <div class="product-card__multiple-variants-info">
    <p>
      Product has multiple variants
      <a href="{{ product.url }}">go to product page</a>
      to make a purchase
    </p>
  </div>
{% else %}
  <product-form>
    {%- form 'product', product, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      <button type="submit" name="add" class="button button--primary_dark product-card__add-to-cart-button">
        Add to cart
      </button>
    {%- endform -%}
  </product-form>
{% endif %}