<product-card>
  <div class="product-card__container" id="product-card_container">
    {% if product.featured_image != blank %}
      <div class="product-card__image-container">
        <a class="product-card__link" href="{{ product.url }}">
          <img class="product-card__image" src="{{ product.featured_image | image_url }}"
               alt="{{ product.featured_image.alt }}">
        </a>
      </div>
    {% endif %}
    <div class="product-card__info-container" id="product-card_info_container">
      <div class="product-card__info" id="product-card_info">
        <a class="product-card__link" href="{{ product.url }}">
          <div class="product-card__name">{{ product.title }}</div>
        </a>
        <div class="product-card__price">
          <p class="product-card__final-price">{{ product.price | money_with_currency }}</p>
          <p class="product-card__compare-at-price">{{ product.compare_at_price | money_with_currency }}</p>
        </div>
      </div>
      <div class="product-card__details" id="product-card_details">
        {% render 'product-card-details',
                product: product
        %}
      </div>
    </div>
    {% if product.compare_at_price %}
      <div class="product-card__sale-badge">
        <p>sale</p>
      </div>
    {% endif %}
  </div>
</product-card>
