{% style %}
  {{ settings.type_body_font | font_face: font_display: 'swap' }}
  {{ body_font_bold | font_face: font_display: 'swap' }}
  {{ body_font_italic | font_face: font_display: 'swap' }}
  {{ body_font_bold_italic | font_face: font_display: 'swap' }}
  {{ settings.type_header_font | font_face: font_display: 'swap' }}

  :root {
  {% comment %}TYPOGRAPHY{% endcomment %}
  --font-body-family: {{ settings.type_body_font.family }}, {{ settings.type_body_font.fallback_families }};
  --font-body-style: {{ settings.type_body_font.style }};
  --font-body-weight: {{ settings.type_body_font.weight }};

  --font-heading-family: {{ settings.type_header_font.family }}, {{ settings.type_header_font.fallback_families }};
  --font-heading-style: {{ settings.type_header_font.style }};
  --font-heading-weight: {{ settings.type_header_font.weight }};

  --font-size-h1: {{ settings.font_size_h1 | append: 'px' }};
  --line-height-h1: {{ settings.line_height_h1 | append: 'px' }};
  --font-size-h2: {{ settings.font_size_h2 | append: 'px' }};
  --line-height-h2: {{ settings.line_height_h2 | append: 'px' }};
  --font-size-h3: {{ settings.font_size_h3 | append: 'px' }};
  --line-height-h3: {{ settings.line_height_h3 | append: 'px' }};
  --font-size-h4: {{ settings.font_size_h4 | append: 'px' }};
  --line-height-h4: {{ settings.line_height_h4 | append: 'px' }};
  --font-size-h5: {{ settings.font_size_h5 | append: 'px' }};
  --line-height-h5: {{ settings.line_height_h5 | append: 'px' }};
  --font-size-h6: {{ settings.font_size_h6 | append: 'px' }};
  --line-height-h6: {{ settings.line_height_h6 | append: 'px' }};
  --font-size-body: {{ settings.font_size_body | append: 'px' }};
  --line-height-body: {{ settings.line_height_body | append: 'px' }};
  --font-size-small: {{ settings.font_size_small | append: 'px' }};
  --line-height-small: {{ settings.line_height_small | append: 'px' }};

  {% comment %}COLORS{% endcomment %}
  --color-text-primary: {{ settings.colors_text_primary }};
  --color-text-primary-rgb: {{ settings.colors_text_primary | color_to_rgb | remove: 'rgb(' | remove: ')' }};
  --color-text-secondary: {{ settings.colors_text_secondary }};
  --color-text-secondary-rgb: {{ settings.colors_text_secondary | color_to_rgb | remove: 'rgb(' | remove: ')' }};

  --color-base-background-primary: {{ settings.colors_background_primary }};
  --color-base-background-primary-rgb: {{ settings.colors_background_primary | color_to_rgb | remove: 'rgb(' | remove: ')' }};
  --color-base-background-secondary: {{ settings.colors_background_secondary }};
  --color-base-background-secondary-rgb: {{ settings.colors_background_secondary | color_to_rgb | remove: 'rgb(' | remove: ')' }};
  --color-base-background-tertiary: {{ settings.colors_background_tertiary }};
  --color-base-background-tertiary-rgb: {{ settings.colors_background_tertiary | color_to_rgb | remove: 'rgb(' | remove: ')' }};
  --color-base-error-background: {{ settings.colors_error_background }};
  --color-base-error-background-rgb: {{ settings.colors_error_background | color_to_rgb | remove: 'rgb(' | remove: ')' }};
  --color-base-success-background: {{ settings.colors_success_background }};
  --color-base-success-background-rgb: {{ settings.colors_success_background | color_to_rgb | remove: 'rgb(' | remove: ')' }};

  --color-base-accent-primary: {{ settings.colors_accent_primary }};
  --color-base-accent-primary-rgb: {{ settings.colors_accent_primary | color_to_rgb | remove: 'rgb(' | remove: ')' }};
  --color-base-accent-secondary: {{ settings.colors_accent_secondary }};
  --color-base-accent-secondary-rgb: {{ settings.colors_accent_secondary | color_to_rgb | remove: 'rgb(' | remove: ')' }};

  {% comment %}temporary color variables to keep template design as it looks like{% endcomment %}
  --color-base-background-1: var(--color-base-background-primary);
  --color-base-background-1-rgb: var(--color-base-background-primary-rgb);
  --color-base-background-2: var(--color-base-background-secondary);
  --color-base-background-2-rgb: var(--color-base-background-secondary-rgb);
  --color-base-background-3: var(--color-base-background-tertiary);
  --color-base-background-3-rgb: var(--color-base-background-tertiary-rgb);

  --color-base-accent-1: var(--color-base-accent-primary);
  --color-base-accent-1-rgb: var(--color-base-accent-primary-rgb);
  --color-base-accent-2: var(--color-base-accent-secondary);
  --color-base-accent-2-rgb: var(--color-base-accent-secondary-rgb);
  }
{% endstyle %}